{{ bos_token }}
{%- if messages[0]['role'] == 'system' -%}
    {%- if messages[0]['content'] is string -%}
        {%- set first_user_prefix = messages[0]['content'] + '\n\n' -%}
    {%- else -%}
        {%- set first_user_prefix = messages[0]['content'][0]['text'] + '\n\n' -%}
    {%- endif -%}
    {%- set loop_messages = messages[1:] -%}
{%- else -%}
    {%- set first_user_prefix = "" -%}
    {%- set loop_messages = messages -%}
{%- endif -%}
{%- if loop_messages[0]['role'] != 'user' -%}
    {%- set empty_message = { 'role': 'user', 'content': '' } -%}
    {%- set loop_messages = [empty_message] + loop_messages -%}
{%- endif -%}
{%- if not tools is defined %}
    {%- set tools = none %}
{%- endif %}

{%- for message in loop_messages -%}
    {%- if (message['role'] == 'assistant') -%}
        {%- set role = "model" -%}
    {%- elif (message['role'] == 'tool') -%}
        {%- set role = "user" -%}
    {%- else -%}
        {%- set role = message['role'] -%}
    {%- endif -%}
    {{ '<start_of_turn>' + role + '\n' -}}

    {%- if loop.first -%}
        {%- if tools is not none and '{tools}' not in first_user_prefix -%}
            {{ first_user_prefix }}
            {{- "Tools (functions) are available. If you decide to invoke one or more of the tools, you must respond with a python list of the function calls.\n" -}}
            {{- "Example Format: { \"tool_call\": { \"name\": \"function_name\", \"arguments\": { \"parameter_name\": \"parameter_value\" } } } \n" -}}
            {{- "Do not use variables. DO NOT USE MARKDOWN SYNTAX. You SHOULD NOT include any other text in the response if you call a function. If none of the functions can be used, point it out. If you lack the parameters required by the function, also point it out.\n" -}}
            {{- "Here is a list of functions in JSON format that you can invoke.\n" -}}
            {{- tools | tojson(indent=4) -}}
            {{- "\n\n" -}}
        {%- elif '{tools}' in first_user_prefix -%}
            {{ first_user_prefix.replace('{tools}', tools | tojson(indent=2)) }}
        {%- else -%}
            {{ first_user_prefix }}
        {%- endif -%}
    {%- endif -%}

    {%- if 'tool_calls' in message -%}
        {{ message['tool_calls'] | tojson(indent=4) }}
    {%- endif -%}
    
    {%- if (message['role'] == 'tool') -%}
        {{ '<tool_response>\n' -}}
    {%- endif -%}

    {%- if message['content'] is string -%}
        {{ message['content'] | trim }}
    {%- elif message['content'] is iterable -%}
        {%- for item in message['content'] -%}
            {%- if item['type'] == 'image' -%}
                {{ '<start_of_image>' }}
            {%- elif item['type'] == 'text' -%}
                {{ item['text'] | trim }}
            {%- endif -%}
        {%- endfor -%}
    {%- else -%}
        {{ raise_exception("Invalid content type") }}
    {%- endif -%}

    {%- if (message['role'] == 'tool') -%}
        {{ '</tool_response>' -}}
    {%- endif -%}

    {{ '<end_of_turn>\n' }}
{%- endfor -%}

{%- if add_generation_prompt -%}
    {{'<start_of_turn>model\n'}}
{%- endif -%}