name: Release
on:
  push:
    tags:
      - v*
  workflow_dispatch:
    inputs:
      skip_release_native:
        description: 'Skip the release_native job'
        required: false
        default: false
        type: boolean

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  release_native:
    if: ${{ !inputs.skip_release_native }}
    uses: ./.github/workflows/build-release.yml
    with:
      publish: YES
    secrets: inherit
  publish:
    permissions:
      contents: write
      pull-requests: read
    needs: release_native
    if: ${{ always() && (needs.release_native.result == 'success' || needs.release_native.result == 'skipped') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org'
      - name: gguf models cache
        uses: actions/cache@v4
        with:
          path: test/*.gguf
          key: ${{ runner.os }}-gguf-models-${{ hashFiles('test/*.gguf') }}
      - name: Download bundled files
        uses: actions/download-artifact@v4
        with:
          path: bin
          pattern: bin-*
          merge-multiple: true
      - run: npm install -g npm@latest
      - run: npm run copy-rn-llama-source
      - run: npm ci --omit=optional
      - run: npm run build
      - name: Publish to NPM
        run: npm run publish-if-need
